<div class="container">
    <div class="cardArea">
        <div class="playground">
            <!-- <div class="text-left">
                <div class="inLine">
                    Play 1 ScoreA: <span>{{p1.scoreA}}</span>
                    Comp ScoreA: <span>{{comp.scoreA}}</span>
                </div>
            </div> -->
            
            <button (click)="movePegsRand()">Move the pegsRand</button>
            <button style="margin-left: 10px;" (click)="fakeCardIntoCount()">Add to countArea from comp</button>
            <button style="margin-left: 10px;" (click)="readyToBegin()">Let deal and start the game</button>
            <div class=" compHand">
                <h1> Computer Cards </h1>
                <!-- if the computer is the dealer AKA they have the crib out out all these divs-->
                <div class="inLine">
                    <div class="inLine" *ngFor="let c of crib.order">
                        <ng-container *ngIf="c!=crib.order[crib.order.length-1]">
                            <img class="cardSlice cribCard" src="./../../assets/images/b2pl.png" alt="{{c.cardWords}}">
                        </ng-container>
                        <ng-container *ngIf="c==crib.order[crib.order.length-1]">
                            <img class="card cribCard" src="./../../assets/images/b2fv.png" alt="{{c.cardWords}}">
                        </ng-container>
                    </div>
                </div>
                <div class="tableTop inLine">
                    <div class="inLine" *ngFor="let c of comp.hand.order">
                        <img class="card" src="./../../assets/images/b2fv.png" alt="{{c.cardWords}}">
                    </div>
                </div>
            </div>

            <div class="row text-left" id="countArea">
                <div class="inLine">
                    <!-- <p>Start Card</p> -->
                    <img class="cardSlice stackedCards cribCard" src="./../../assets/images/b2pl.png" alt="cardWord">
                    <img class="cardSlice stackedCards cribCard" src="./../../assets/images/b2pl.png" alt="cardWord">
                    <img class="cardSlice stackedCards cribCard" src="./../../assets/images/b2pl.png" alt="cardWord">
                    <img class="card cribCard" src="./../../assets/images/{{theStartCard.imgConCat}}.png" alt="theStartCard">
                    <!-- <img class="card cribCard" src="./../../assets/images/{{theStartCard.imgConCat}}.png" alt="{{theStartCard.cardWords}}">
                    <img class="card cribCard" src="./../../assets/images/b2fv.png" alt="{{theStartCard.cardWords}}"> -->
                </div>
                <div class="tableTop inLine" id="layDown" *ngFor="let c of theCount.order">
                    <div style="padding: 20px 0px;">
                        <img *ngIf="c.owner!=p1" class="card lessMargin" src="./../../assets/images/{{c.imgConCat}}.png"
                            alt="{{c.cardWords}}">
                    </div>
                    <div style="padding: 20px 0px;">
                        <img *ngIf="c.owner==p1" class="card lessMargin" src="./../../assets/images/{{c.imgConCat}}.png"
                            alt="{{c.cardWords}}">
                    </div>
                </div>
            </div>

            <div class=" compHand">
                <h1>Player1 </h1>
                <!-- <button (click)="startGame()">start Game</button> -->
                <div class="inLine" *ngFor="let c of p1.ghostHand.order">
                    <ng-container *ngIf="c.val != 20">
                        <img (click)="discard(c)" class="card" src="./../../assets/images/{{c.imgConCat}}.png"
                            alt="{{c.cardWords}}">
                    </ng-container>
                </div>
                <div class="inLine">
                    <div class="inLine" *ngFor="let c of crib.order">
                        <ng-container *ngIf="c!=crib.order[crib.order.length-1]">
                            <img class="cardSlice cribCard" src="./../../assets/images/b2pl.png" alt="{{c.cardWords}}">
                        </ng-container>
                        <ng-container *ngIf="c==crib.order[crib.order.length-1]">
                            <img class="card cribCard" src="./../../assets/images/b2fv.png" alt="{{c.cardWords}}">
                        </ng-container>
                    </div>
                </div>
                <!-- <div class="inLine text-right" *ngFor="let c of p1.hand.order">
                    <img (click)="discard(c)" class="card" src="./../../assets/images/{{c.imgConCat}}.png"
                        alt="{{c.cardWords}}">
                </div> -->
                <!-- <div class="tableTop" style="color:white; display: block; background-color: rgba(0, 0, 0, 0.377)">
                        Crib Cards
                        <div class="inLine" *ngFor="let c of crib.order">
                            <img class="card" src="./../../assets/images/{{c.imgConCat}}.png" alt="{{c.cardWords}}">
                        </div>
                    </div> -->
            </div>
        </div>
    </div>



    <div class="cribBoard">
        <div class="rasecourse">
            <div class="halfOfBoard">
                <div class="small" *ngFor="let d of scoreDivs1tp40">
                    <div id="peg{{d}}p1" class="playerPWrapper peg circle emptyPeg">
                        <!-- <ng-container *ngIf="p1.scoreA!=d || p1.scoreA!=p1.scoreB">{{d}}</ng-container> -->
                        <div *ngIf="p1.scoreA==d && p1.scoreA!=p1.scoreB" class="peg circle" id="player1PositionA">
                        </div>
                        <div *ngIf="p1.scoreB==d" class="peg circle" id="player1PositionB"></div>
                    </div>
                    <div id="peg{{d}}comp" class="compPWrapper peg circle emptyPeg">
                        <div *ngIf="comp.scoreA==d && comp.scoreA!=comp.scoreB" class="peg circle" id="compPositionA">
                        </div>
                        <div *ngIf="comp.scoreB==d" class="peg circle" id="compPositionB"></div>
                        <!-- <ng-container *ngIf="p1.scoreA!=d || p1.scoreA!=p1.scoreB">{{d}}</ng-container> -->
                    </div>
                </div>
            </div>
            <div class="halfOfBoard rightHalf">
                <div class="smallRow" *ngFor="let d of scoreDivs40to80">
                    <div class="playerPWrapper peg circle emptyPeg">
                        <!-- <ng-container *ngIf="p1.scoreA!=d || p1.scoreA!=p1.scoreB">{{d}}</ng-container> -->
                        <div *ngIf="p1.scoreA==d && p1.scoreA!=p1.scoreB" class="peg circle" id="player1PositionA">
                        </div>
                        <div *ngIf="p1.scoreB==d" class="peg circle" id="player1PositionB"></div>
                    </div>
                    <div class="compPWrapper peg circle emptyPeg">
                        <div *ngIf="comp.scoreA==d && comp.scoreA!=comp.scoreB" class="peg circle" id="compPositionA">
                        </div>
                        <div *ngIf="comp.scoreB==d" class="peg circle" id="compPositionB"></div>
                        <!-- <ng-container *ngIf="p1.scoreA!=d || p1.scoreA!=p1.scoreB">{{d}}</ng-container> -->
                    </div>
                </div>
            </div>
            <div class="halfOfBoard rightHalf">
                <div class="smallRow" *ngFor="let d of scoreDivs80to120">
                    <div class="playerPWrapper peg circle emptyPeg">
                        <!-- <ng-container *ngIf="p1.scoreA!=d || p1.scoreA!=p1.scoreB">{{d}}</ng-container> -->
                        <div *ngIf="p1.scoreA==d && p1.scoreA!=p1.scoreB" class="peg circle" id="player1PositionA">A
                        </div>
                        <div *ngIf="p1.scoreB==d" class="peg circle" id="player1PositionB">B</div>
                    </div>
                    <div class="compPWrapper peg circle emptyPeg">
                        <div *ngIf="comp.scoreA==d && comp.scoreA!=comp.scoreB" class="peg circle" id="compPositionA">A
                        </div>
                        <div *ngIf="comp.scoreB==d" class="peg circle" id="compPositionB">B</div>
                        <!-- <ng-container *ngIf="comp.scoreA!=d || comp.scoreA!=comp.scoreB">{{d}}</ng-container> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>