/* * {
    outline: 1px dotted red;
} */
.container {
    background-image: url('./../../assets/images/serene1.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1280px; */
    margin: 0px auto;
    display: inline-block;
    display: flex;
}
.cardArea{
    display: inline-block;
    flex-grow: 2;
    /* max-width: fit-content; */
}
.row{
    width: auto;
    min-height: 30px;
    background-color: rgba(255, 255, 0, 0.685);
    display: block;
}
.playground{
    margin: 0px 14% 0px auto ;
    text-align: center;
    max-width: 1000px;
}
img, .card {
    height: 96px;
    width: 71px;
    margin-top:50px;
    display: inline-block;
    margin: 0px 15px;
    box-shadow: 5px 5px 5px rgb(14, 13, 13);
}
.inLine{
    display: inline-block;
}
    .inLine span{
        font-weight: bolder;
        color: red;
        background-color: white;
    }
.text-left{
    text-align: left;
}
.up {
    background-color: rgba(165, 42, 42, 0.253);
    padding-bottom: 50px;
}
.tableTop {
    vertical-align: top;
    display: inline-block;
    padding: 10px 5px;
}
.scoreBoard {
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 500px;
    width: 100px;
    position:absolute;
}

#peg0p1,#peg0comp {
    /* background-color: red; */
    margin-top: 20px;
}
.cribBoard{
    display: inline-block;
    width: 224px;
    height: 773px;
    vertical-align: top;
    background-image: url('./../../assets/images/wood.jfif');
    background-position: center;
    text-align: center;
    padding: 30px 10px 20px 10px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
    margin-right: 20px;
    border: 1px solid black;
}
.peg{
    height: 10px;
    width: 10px;
    display: inline-block;
}
.smallRow{
    display: block;
    /* background-color: rgba(255, 192, 203, 0.555) ; */
    /* width: 50px; */
}
.halfOfBoard{
    display: inline-block;
    /* border: 3px solid blue; */
    vertical-align: top;
}
.emptyPeg{
    background-color: rgba(32, 31, 31, 0.733);
}
.rightHalf{
    margin-left: 62px;
}
.rasecourse{
    display: inline-block;
    width: 222px;
}
.circle{
    border-radius: 50%;
}
#player1PositionA,#player1PositionB{
    border: 1px solid black;
    background-color: gold;
}
#compPositionA,#compPositionB{
    color: white;
    border: 2px solid white;
    background-color: black;
}
#countArea{
    /* position: absolute; */
    background-color: rgba(240, 248, 255, 0.473);
}
.compPWrapper{
    margin-left: 4px;
}
.topCount, .bottomCount{
    display: block;
}
.cardSlice{
    width: 13px;
    height: 96px;
}
.cribCard{
    margin: 0px;
}
button{
    margin-left: 10px;
}