* {
    outline: 1px dotted red;
}
.container {
    background-color: rgb(189, 149, 96);
    margin: 0px auto;
    display: inline-block;
}
.cardArea{
    display: inline-block;
    width: 50%;
}
img, .card {
    height: 96px;
    width: 71px;
    margin-top:50px;
    display: inline-block;
    margin: 0px 15px;
}
.inLine{
    display: inline-block;
}
.up {
    background-color: brown;
    padding-bottom: 50px;
}
.tableTop {
    vertical-align: top;
    display: inline-block;
    padding: 10px 5px;
}
.scoreBoard {
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 500px;
    width: 100px;
    position:absolute;
}

#card_id4 {
    background-color: brown;
    padding-bottom: 50px;
}
.cribBoard{
    display: inline-block;
    width: 224px;
    height: 838px;
    vertical-align: top;
    background-image: url('./../../assets/images/wood.png');
    background-position: center;
    background-size: cover;
    padding: 15px;
}
.peg{
    height: 5px;
    width: 5px;
    display: inline-block;
}
.smallRow{
    display: block;
    background-color: rgba(255, 192, 203, 0.555) ;
    /* width: 50px; */
}
.halfOfBoard{
    display: inline-block;
    border: 3px solid blue;
    vertical-align: top;
}
.rightHalf{
    /* margin-left: 180px; */
}
.rasecourse{
    display: inline-block;
    width: 222px;
}
.circle{
    border-radius: 50%;
}
#player1PositionA,#player1PositionB{
    border: 1px solid black;
    background-color: gold;
}
#compPositionA,#compPositionB{
    color: white;
    border: 2px solid white;
    background-color: black;
}
/* .playerPWrapper{
    margin-left: 5px;
} */
.compPWrapper{
    margin-left: 4px;
}