<div class='spacer'>
    <div class='componentSection'>
        <div class='componentTitle'>

        </div>
        <div>
            <div class="sectionColumn">
                <img class="card" src="./../../assets/images/{{displayDeck.order[0].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[1].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[2].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[3].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[4].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[5].imgConCat}}.png" alt="random">
                <p>Cribbage is a simple two person game.</p>
                <p>The game involves scoring points by playing and grouping unique combinations of cards into sums of fifteen, pairs, and runs.</p>
                <p>The winner of a game is the first person to score 121 points. We keep track of the score using pegs. Your peg is gold and the computer is black.</p>
                <p>When you score points, your back peg will move ahead of your front page. There are 120 holes for each player, and the first place to get to the end of their path wins.</p>
            </div>
            <div class="sectionColumn">
                <p>Cribbage is played in rounds and each round consists of four stages:</p>
                <p class='indent'>1. Discarding into the crib</p>
                <p class='indent'>2. Pegging</p>
                <p class='indent'>3. Counting points in hand</p>
                <p class='indent'>4. Counting points in the crib</p>
                <p>At the beginning of the round, each player is dealt six cards and must choose two cards to discard into the crib.</p>
                <p>Starting with the non-Dealer, each player plays one face up card to the center of the board. The sum of the cards is tracked and play continues until neither player can play without putting the sum over 31. At That point, the cumulative sum is reset to zero and the same process is continued until both players have played all four of their cards.</p>
            </div>
        </div>
        <div>
            <div class="sectionColumn">
                <img class="card" src="./../../assets/images/{{displayDeck.order[0].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[1].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[2].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[3].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[4].imgConCat}}.png" alt="random">
                <img class="card" src="./../../assets/images/{{displayDeck.order[5].imgConCat}}.png" alt="random">
                <p>Cribbage is a simple two person game.</p>
                <p>The game involves scoring points by playing and grouping unique combinations of cards into sums of fifteen, pairs, and runs.</p>
                <p>The winner of a game is the first person to score 121 points. We keep track of the score using pegs. Your peg is gold and the computer is black.</p>
                <p>When you score points, your back peg will move ahead of your front page. There are 120 holes for each player, and the first place to get to the end of their path wins.</p>
            </div>
            <div class="sectionColumn">
                <p>Cribbage is played in rounds and each round consists of four stages:</p>
                <p class='indent'>1. Discarding into the crib</p>
                <p class='indent'>2. Pegging</p>
                <p class='indent'>3. Counting points in hand</p>
                <p class='indent'>4. Counting points in the crib</p>
                <p>At the beginning of the round, each player is dealt six cards and must choose two cards to discard into the crib.</p>
                <p>Starting with the non-Dealer, each player plays one face up card to the center of the board. The sum of the cards is tracked and play continues until neither player can play without putting the sum over 31. At That point, the cumulative sum is reset to zero and the same process is continued until both players have played all four of their cards.</p>
            </div>
        </div>
    </div>
</div>
