<div class="main">
    <div class="wrap">
        <div>
            <div class='motd-container'>
                <span class='motd'>{{ messageOfTheDay }}</span>
            </div>
            <h1 class="logo">
                CRIBBAGE ~ PRO ohhh daaang
            </h1>
        </div>
        <div class='navigation'>
            <div class='nav-button' [routerLink]="['/home']">
                <p>HOME</p>
            </div>
            <div class='nav-button' [routerLink]="['/teachMe']">
                <p>TUTORIAL</p>
            </div>
            <div class='nav-button' [routerLink]="['/about']">
                <p>ABOUT</p>
            </div>
            <div class='play-button' [routerLink]="['/game']">
                <h2>P</h2>
                <h2>L</h2>
                <h2>A</h2>
                <h2>Y</h2>
            </div>
        </div>
        <div class="outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>