<!-- <div class="main">
    <div class="wrap">
        <div>
            <div class='motd-container'>
                <span class='motd'>{{ messageOfTheDay }}</span>
            </div>
            <h1 class="logo">
                CRIBBAGE-PRO.com
            </h1>
        </div>
        <div class='navigation'>
            <div class='nav-button' [routerLink]="['/home']">
                <p>HOME</p>
            </div>
            <div class='nav-button' [routerLink]="['/teachMe']">
                <p>TUTORIAL</p>
            </div>
            <div class='nav-button' [routerLink]="['/about']">
                <p>ABOUT</p>
            </div>
            <div class='play-button' [routerLink]="['/game']">
                <p>PLAY</p>
            </div>
        </div>
        <div class="outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->



<div class='grid'>
    <div class='background'>

    </div>
    <div class='card-area'>
        <img src="./assets/small/card_a_dk.png" class='card' alt="card">
        <img src="./assets/small/deck_3.png" class='card' alt="card">
    </div>
    <div class='board-area'>

    </div>
    <div class='board'>
        <div class='column'>

            <ng-container *ngFor="let r of scorePegHoles">
                <ng-container *ngIf="r<40 && r>81">
                    <div class='row' id='row{{r}}'>
                        <div class='peg'>{{r}}</div>
                        <div class='peg'>{{r}}</div>
                    </div>
                </ng-container>
                <ng-container *ngIf="r>41">
                    <div class='row sucks' id='row{{r}}'>
                        <div class='peg'>{{r}}</div>
                        <div class='peg'>{{r}}</div>
                    </div>
                </ng-container>
                <ng-container *ngIf="r<80">
                    <div class='row' id='row{{r}}'>
                        <div class='peg'>{{r}}</div>
                        <div class='peg'>{{r}}</div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>